
    //intermediateMat {{{OUT_REL}}};
    //agg(&{{{IN_REL}}}, &{{{OUT_REL}}}, {{{KEY_COL}}}, {{{AGG_COL}}}, {{{USE_LEAKY}}});

  //std::vector<mo::ShareWrapper> {{{OUT_REL}}};
  //{{{OUT_REL}}} = {{{IN_REL}}};

  std::vector<mo::ShareWrapper> {{{OUT_REL}}};
  aggregate({{{IN_REL}}}, {{{OUT_REL}}}, kSUM, {{{KEY_COL}}}, {{{AGG_COL}}}, keep_rows);
