
    //intermediateMat {{{RELNAME}}};
    //matToObliv(&io->in, {{{STORED_WITH}}}, &{{{RELNAME}}});
  std::vector<mo::ShareWrapper> {{{RELNAME}}}; 
  close_input(party, input_rel, {{{RELNAME}}}, { {{{STORED_WITH}}} });  