
    //intermediateMat {{{OUTREL}}};
    //concat(&{{{INREL_LEFT}}}, &{{{INREL_RIGHT}}}, &{{{OUTREL}}});

  std::vector<mo::ShareWrapper> {{{OUTREL}}};
  concat({{{INREL_LEFT}}}, {{{INREL_RIGHT}}}, {{{OUTREL}}});
