
    //intermediateMat {{{OUT_REL}}};
    //concatCols(&{{{LEFT_REL}}}, &{{{RIGHT_REL}}}, &{{{OUT_REL}}});
    
  std::vector<mo::ShareWrapper> {{{OUTREL}}};
  concat({{{INREL_LEFT}}}, {{{INREL_RIGHT}}}, {{{OUTREL}}});
