
    //intermediateMat {{{OUT_REL}}};

    //distinctCount(&{{{IN_REL}}}, &{{{OUT_REL}}}, {{{KEY_COL}}});

  std::vector<mo::ShareWrapper> {{{OUT_REL}}};
  distinct_count({{{IN_REL}}}, {{{OUT_REL}}}, {{{KEY_COL}}}, keep_rows);