
    //intermediateMat {{{OUT_REL}}};

    //multiplyMatrices(&{{{LEFT_REL}}}, &{{{RIGHT_REL}}}, &{{{OUT_REL}}});


  std::vector<mo::ShareWrapper> {{{OUT_REL}}};
  multiply_matrices({{{LEFT_REL}}}, {{{RIGHT_REL}}}, {{{OUT_REL}}});
