
    //intermediateMat {{{OUT_REL}}};
    //sortBy(&{{{IN_REL}}}, &{{{OUT_REL}}}, {{{KEY_COL}}});

  std::vector<mo::ShareWrapper> {{{OUT_REL}}};
  sortby({{{IN_REL}}}, {{{OUT_REL}}}, {{{KEY_COL}}}, keep_rows);
    