// MIT License
//
// Copyright (c) 2019 Oleksandr Tkachenko
// Cryptography and Privacy Engineering Group (ENCRYPTO)
// TU Darmstadt, Germany
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

#include "workflow.h"

#include "motioncore/secure_type/secure_unsigned_integer.h"
#include "motioncore/statistics/analysis.h"
#include "motioncore/statistics/run_time_statistics.h"
#include "motioncore/utility/bit_vector.h"
#include "motioncore/algorithm/algorithm_description.h"
#include "motioncore/protocols/arithmetic_gmw/arithmetic_gmw_wire.h"
#include "motioncore/protocols/bmr/bmr_wire.h"
#include "motioncore/protocols/boolean_gmw/boolean_gmw_wire.h"
#include "motioncore/protocols/share_wrapper.h"
#include "motioncore/utility/config.h"

namespace mo = encrypto::motion;

void close_input(mo::PartyPointer& party,
                 const std::vector<std::vector<uint32_t>>& input_rel,
                 std::vector<mo::SecureUnsignedInteger>& shared_input,
                 std::set<std::size_t> stored_with)
{
  for (auto pid: stored_with)
    for (std::size_t i=0; i < input_rel.size(); i++)
      shared_input.push_back(party->In<mo::MpcProtocol::kArithmeticGmw>(input_rel[i], pid));
}

void open_output(mo::PartyPointer& party,
                 std::vector<mo::SecureUnsignedInteger>& shared_output,
                 std::vector<std::vector<mo::SecureUnsignedInteger>>& output,                 
                 std::set<std::size_t> stored_with)
{
  for (std::size_t i=0; i < shared_output.size(); i++) {
    std::vector<mo::SecureUnsignedInteger> output_col {shared_output[i].Unsimdify()};
    for (std::size_t j=0; j < output_col.size(); j++) 
      output_col[j] = output_col[j].Out();
    output.push_back(output_col);
  }  
}

void concat(std::vector<mo::SecureUnsignedInteger>& left_shared_input,
            std::vector<mo::SecureUnsignedInteger>& right_shared_input,
            std::vector<mo::SecureUnsignedInteger>& shared_output)
{
  //assert(left_shared_input.size() == right_shared_input.isze());

  for (std::size_t i=0; i < left_shared_input.size(); i++) {
    //std::vector<mo::SecureUnsignedInteger> output_cols {left_shared_input[i].Get(), right_shared_input[i].Get()};
    //mo::SecureUnsignedInteger output_val {mo::ShareWrapper::Concatenate(output_cols)};
    //output_val.Simdify(output_cols);
    //shared_output.push_back(output_val);
    std::vector<mo::ShareWrapper> left_unsimdified {left_shared_input[i].Get().Unsimdify()};
    std::vector<mo::ShareWrapper> right_unsimdified {right_shared_input[i].Get().Unsimdify()};
    std::vector<mo::ShareWrapper> output_cols;
    output_cols.insert(output_cols.end(), left_unsimdified.begin(), left_unsimdified.end());
    output_cols.insert(output_cols.end(), right_unsimdified.begin(), right_unsimdified.end());
    shared_output.push_back(mo::ShareWrapper::Simdify(output_cols).Get());
  }
}

void concatcol(std::vector<mo::SecureUnsignedInteger>& left_shared_input,
               std::vector<mo::SecureUnsignedInteger>& right_shared_input,
               std::vector<mo::SecureUnsignedInteger>& shared_output)
{
  for (std::size_t i=0; i < left_shared_input.size(); i++)
    shared_output.push_back(left_shared_input[i]);
  for (std::size_t i=0; i < right_shared_input.size(); i++)
    shared_output.push_back(right_shared_input[i]);
}

void sortby(std::vector<mo::SecureUnsignedInteger>& right_shared_input,
            std::vector<mo::SecureUnsignedInteger>& shared_output,
            std::size_t key_col)
{
    
}

void CreateWorkflowCircuit(
                mo::PartyPointer& party,
                std::set<std::size_t> stored_with,
                const std::vector<std::vector<std::uint32_t>>& input_rel,
                std::vector<std::vector<mo::SecureUnsignedInteger>>& output)                
{
  {{{WORKFLOW}}}
}

mo::RunTimeStatistics EvaluateProtocol(mo::PartyPointer& party,
                                       const std::vector<std::vector<uint32_t>>& input_rel,
                                       std::vector<std::vector<uint32_t>>& output_rel)
{
  std::set<std::size_t> stored_with {0, 1};
  std::vector<std::vector<mo::SecureUnsignedInteger>> output;  
  CreateWorkflowCircuit(party, stored_with, input_rel, output);

  party->Run();
  for (auto each_col: output) {
    std::vector<std::uint32_t> col;
    for (auto each_value: each_col) 
      col.push_back(each_value.As<std::uint32_t>()); 
    output_rel.push_back(col);   
  }  
  party->Finish();

  for (std::size_t i=0; i < output_rel[0].size(); i++) {
    for (std::size_t j=0; j < output_rel.size(); j++)
      std::cout << output_rel[j][i] << " ";
    std::cout << std:: endl;
  };  
  
  const auto& statistics = party->GetBackend()->GetRunTimeStatistics();
  return statistics.front();
}
